<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ShoppingComplex</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>20</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>Validate</display-name>
    <servlet-name>Validate</servlet-name>
    <servlet-class>user35.servlet.Validate</servlet-class>
    <init-param>
      <param-name>driverClass</param-name>
      <param-value>oracle.jdbc.driver.OracleDriver</param-value>
    </init-param>
    <init-param>
      <param-name>dbUrl</param-name>
      <param-value>jdbc:oracle:thin:@sdc:1521:oracle11</param-value>
    </init-param>
    <init-param>
      <param-name>userName</param-name>
      <param-value>user35</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>hj</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Validate</servlet-name>
    <url-pattern>/Validate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Category</display-name>
    <servlet-name>Category</servlet-name>
    <servlet-class>user35.servlet.Category</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Category</servlet-name>
    <url-pattern>/Category</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Products</display-name>
    <servlet-name>Products</servlet-name>
    <servlet-class>user35.servlet.Products</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Products</servlet-name>
    <url-pattern>/Products</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewCategory</display-name>
    <servlet-name>NewCategory</servlet-name>
    <servlet-class>user35.servlet.NewCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewCategory</servlet-name>
    <url-pattern>/NewCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToCart</display-name>
    <servlet-name>AddToCart</servlet-name>
    <servlet-class>user35.servlet.AddToCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCart</servlet-name>
    <url-pattern>/AddToCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListCart</display-name>
    <servlet-name>ListCart</servlet-name>
    <servlet-class>user35.servlet.ListCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListCart</servlet-name>
    <url-pattern>/ListCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>user35.servlet.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Pay</display-name>
    <servlet-name>Pay</servlet-name>
    <servlet-class>user35.servlet.Pay</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Pay</servlet-name>
    <url-pattern>/Pay</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteCategory</display-name>
    <servlet-name>deleteCategory</servlet-name>
    <servlet-class>user35.servlet.deleteCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteCategory</servlet-name>
    <url-pattern>/deleteCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>finalDelete</display-name>
    <servlet-name>finalDelete</servlet-name>
    <servlet-class>user35.servlet.finalDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>finalDelete</servlet-name>
    <url-pattern>/finalDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateCategory</display-name>
    <servlet-name>updateCategory</servlet-name>
    <servlet-class>user35.servlet.updateCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateCategory</servlet-name>
    <url-pattern>/updateCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteProduct</display-name>
    <servlet-name>deleteProduct</servlet-name>
    <servlet-class>user35.servlet.deleteProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteProduct</servlet-name>
    <url-pattern>/deleteProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateProduct</display-name>
    <servlet-name>updateProduct</servlet-name>
    <servlet-class>user35.servlet.updateProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateProduct</servlet-name>
    <url-pattern>/updateProduct</url-pattern>
  </servlet-mapping>
</web-app>